body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    color: #333;
    background-color: #7e7777;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

header p {
    margin: 5px 0;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subtitulos{
    text-align: center;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

img{
    width: 10%;
}